/* MBV - Condpro*/
@font-face {
	/* Corporate Condpro Regular */
	font-family: 'MBV - Condpro';
	src:
		url('https://www.mbvans.com/etc/designs/mb-vans/fonts/corporateacondpro_regular_webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

	
	/* Corporate Condpro Italic */
	font-family: 'MBV - Condpro';
	src:
		url('https://www.mbvans.com/etc/designs/mb-vans/fonts/corporateacondpro_regularitalic_webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}